@font-face {
  font-family: 'Raleway';
  src: url('https://fonts.google.com/specimen/Raleway');
}

body {
  color: black;
  background-color: white;
  font-family: Raleway, Arial, Helvetica, sans-serif;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
}

.bookiicon {
  padding: 20px;
  align-items: baseline;
}

.logo {
  width:100px;height:50px; 
  margin-left: -15px;
}

header {
  padding: 0px 30px;
}

.headernavcont {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: justify;  
}

.headernav {
  padding-right: 20px;
  justify-content: end;
}

.headernav a {
  text-decoration: none;

}

#headertext1 {
  margin-bottom: 1px;
}

#headertext2 {
  margin-top: 1px;
  font-weight: lighter;
}

.containerfilter {
  display: flex;  
}

.filterhead {
  padding: 15px;
  padding-right: 20px;
}

.filter {
  border-style: solid;
  border-radius: 50px;
  padding: 0px 7px 0px 0px;
  border-color: lightgrey;
  margin: 5px;
  justify-content: center;
  align-items: baseline; 
}

.fa-money-bill-wave {
  padding: 10px 10px 10px 10px;
  color: #0065fc;
  background-color: #deebff;
  border-radius: 50px;
  margin: 0px 5px 0px 0px;
  border: 0px;
  align-self: baseline;
}

.fa-child-reaching {
  padding: 10px 13px 10px 13px;
  color: #0065fc;
  background-color: #deebff;
  border-radius: 50px;
  margin: 0px 5px 0px 0px;
  border: 0px;
  align-self: baseline;
}

.fa-heart {
  padding: 10px 10px 10px 10px;
  color: #0065fc;
  background-color: #deebff;
  border-radius: 50px;
  margin: 0px 5px 0px 0px;
  border: 0px;
  align-self: baseline;
}

.fa-dog {
  padding: 10px 10px 10px 10px;
  color: #0065fc;
  background-color: #deebff;
  border-radius: 50px;
  margin: 0px 5px 0px 0px;
  border: 0px;
  align-self: baseline;
}

.form {
  border-radius: 20px;
  margin: 7px 7px 7px 0Px;
}

#form-1 {
  width: 100%;
  height: px;
  display: flex;
  align-items: start;
  justify-content: start;
  border-radius: 7px;

}

form .fa-location-dot {
  background-color: #F2F2F2;
  padding: 6px 10px 0px 10px;
  border-bottom-left-radius: 9px;
  border-top-left-radius: 9px;
  height: 26px;
  align-items: center;

}

form input {
  font-weight: 550;
  height: 25px;
  border: .5px solid #cccccc;
  border-left-style: none;
  padding-bottom: 2px;
}

span.button {
  background: #0264fc;
  border-top-right-radius: 9px;
  border-bottom-right-radius: 9px;
  color: white;
  border-color:white ;
  padding: 6px;
} 

:placeholder-shown {
  padding-top: 3px;
  padding-left: 10px;
}

.filter,
.filterhead {
  font-weight: 550;
} 
.filterhead {
  padding-left: 0px;
}

.filter {
  transition: all .2s ease-in-out;
}

.filter:hover {
  transform: scale(1.06);
}

.filter:hover i {
  background-color: #bbd3f6;
}

.info {
  color: lightgrey;
  font-size: 13px;
  display: flex;
  width: 320px;
  padding-top: 10px;
  margin: 5px 10px 15px 0px;
}

#info {
  padding-left: 10px;
}

.flex-container {
  display: flex;
  flex-direction: row;
  padding: 0px 30px;
}

.main-content {
  flex-direction: column;
  background-color: lightgrey;
  border-radius: 20px;
  justify-items: flex-start;
  margin-right: 40px;
}

.accomodation {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 1px;
}

.accomodation-item {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 15px;
    margin: 10px;
    justify-content: space-around;
}

.color-gray {
  color: #c1c1c1;
}

.accomodation-header {
  padding-left: 25px;
  margin-left: 15px;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

.accomodation-item-content {
  border: 5px;
  border-color: white;
  background-color: white;
  border-radius: 20px;
  padding: 5px 5px 12px 5px;
  flex: 1 1 26%; 
  margin: 10px;
}
.accomodation-item-content a {
  text-decoration: none;
}

.accomodation-icon {
  display: flex;
  margin: 0px;
  margin-left: -2px;
  padding: 0px;
  color: #0065FC;
}

.accomodation-image-wrapper {
  min-height: 110px;
  
}
.img-accomodation {
  border-color: white;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  width: 100%;
  height: 130px;
}


.accomodation-text {
  line-height: 0px;
  padding-left: 10px;
}
.accomodation-name {
  margin: 13px 0px 14px 0px;
}
.accomodation-name-price {
  padding: 0px;
  margin: 20px 0px 14px 0px;
}

.showmore {
  padding-top: 0px;
  padding-left: 20px;
  padding-bottom: 20px;
  margin: 30px 0px 0px 20px;
}
.showmore a {
  text-decoration: none;
  color: black;
  font-weight: 800;
}

aside.most-popular {
  flex: 1;
  background-color: lightgrey;
  margin-left: 10px;
  border-radius: 20px;
  max-width: 100%;
  margin-left: 5px;
}

.most-popular {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: lightgrey;
  border-radius: 20px;
  min-width: 450px;
}

.most-popular-header {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}
.most-popular-icon {
  justify-content: center;
  margin-right: 40px;

}

.most-popular-header {
  height: 50px;
  padding-left: 10px;
  margin-bottom: 20px;
  margin-left: 10px;
}

.most-popular-items {

  flex-direction: column;
  justify-content: space-evenly;
  margin: -12px 15px 15px 15px;
}

.most-popular-item {
  border: 5px;
  border-color: white;
  background-color: white;
  border-radius: 20px;
  margin: 20px;
  padding: 2px;
  display: flex;
}
.most-popular-items a {
  text-decoration: none;
}

.img-most-popular {
  border-color: white;
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
  padding: 5px 0px 5px 5px;
  width: 150px;
  height: 100%;
}
.img-most-popular-wrapper {
  max-height: 150px;
}

.most-popular-text-wrapper {
  height: 160px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#long-name {
  word-wrap: break-word;
}

.most-popular-text {
  padding-left: 10px;
  padding-right: 10px;
}

.most-popular-icon-rating {
  margin: 0px 0px 20px 10px;
  color: #0065FC;
}

.activity-header {
  margin: 80px 0px 20px 35px;
}

.activities-container {
  display: flex;
  flex-direction: column;
  margin: 0px 25px 20px 30px;
}

.activity {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0px;
}

.activity a {
  text-decoration: none;
}
.activity-item-2,
.activity-item-4 {
  display: flex;
  flex-direction: column; 
}

.activity-item-1,
.activity-item-2,
.activity-item-3,
.activity-item-4 {
  border: 1px;
  border-radius: 20px;
  background-color: white;
  margin: 0px;
}

.activity-item-1,
.activity-item-3 {
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.1);
}

.activity-item-2-1,
.activity-item-2-2,
.activity-item-4-1,
.activity-item-4-2 {
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.1);
  border: 1px;
  border-radius: 20px;
  background-color: white;
}

.activity-item-2-1,
.activity-item-4-1 {
  margin-bottom: 20px;
}

.activity-image-wrapper {
  width: 320px;
}

.img-activity-1,
.img-activity-3 {
  border-radius: 20px 20px 0px 0px;
  width: 100%;
  height: 390px;
  object-fit: cover;
}

.img-activity-4-1 {
  border-radius: 20px 20px 0px 0px;
  width: 100%;
  height: 158px;
}

.img-activity-4-2 {
  border-radius: 20px 20px 0px 0px;
  width: 100%;
  height: 158px;
  object-fit: cover;
}

.img-activity-2-1 {
  border-radius: 20px 20px 0px 0px;
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.img-activity-2-2 {
  border-radius: 20px 20px 0px 0px;
  width: 100%;
  height: 137px;
  object-fit: cover;
}

.activity-text {
  padding-left: 15px;
  margin: 20px 0px 20px 5px;
}

footer {
  display: flex;
  flex-basis: 0;
  margin-top: 50px;
  background-color: #F2F2F2;
  justify-content: space-between;
}

ul {
  list-style-type: none;
  padding: 0px 0px 0px 10px;
  margin: 0;
  line-height: 25px;
}

footer a {
  text-decoration: none;
}

.about {
  width: 400px;
  line-height: 50px;
  padding-left: 25px;
}

.our-accomodation {
  width: 400px;
  line-height: 50px;
}

.assistance {
  width: 400px;
  line-height: 50px;
}

#about-text,
#our-accomodation-text,
#assistance-text {
  font-weight: bold;
  padding-left: 10px;
}

@media only screen and (max-width:992px) and (min-width:769px) {
  
  .containerfilter {
    display: block;
  }

  .flex-container {
    flex-direction: column;
    justify-content: center;
  }
  .activities-container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .activity {
    flex-direction: column;
    flex-wrap: wrap;
  }

  .main-content {
    margin: 0px 0px 10px 0px;
  }

  .activity-item-2-1,
  .activity-item-4-1 {
  margin: 0px;
  }

  .activity-header {
  display: flex;
  justify-content: center;
  margin: 40px 0px 20px 0px;
  }
}

@media only screen and (max-width: 500px) {
  .accomodation-item {
    flex-direction: column;
  }

  .accomodation-image-wrapper{
    object-fit: cover;
  }

  .img-accomodation {
    width: 100%;
  }
  .accomodation-item-content {
    border: 5px;
    border-color: white;
    background-color: white;
    border-radius: 20px;
    padding: 5px 5px 12px 5px;
    flex: 1 1 80%; 
    margin: 10px;
  }

} 